[submodule "16_1CarOO_Public"]
	path = 16_1CarOO_Public
	url = https://github.com/papontem/16_1CarOO_Public.git
[submodule "20hack_or_snooze_ajax_api"]
	path = 20hack_or_snooze_ajax_api
	url = https://github.com/papontem/20hack_or_snooze_ajax_api.git
[submodule "16_2Connect_4_OO_Public"]
	path = 16_2Connect_4_OO_Public
	url = https://github.com/papontem/16_2Connect_4_OO_Public.git
[submodule "15Connect4_Public_Demo"]
	path = 15Connect4_Public_Demo
	url = https://github.com/papontem/15Connect4_Public_Demo.git
[submodule "Memory_Game_Public_Demo"]
	path = Memory_Game_Public_Demo
	url = https://github.com/papontem/Memory_Game_Public_Demo.git
[submodule "23_1flask_greet_calc"]
	path = 23_1flask_greet_calc
	url = https://github.com/papontem/23_1flask_greet_calc.git
[submodule "23_2_flask_madlibs"]
	path = 23_2_flask_madlibs
	url = https://github.com/papontem/23_2_flask_madlibs.git
[submodule "23_3_flask_survey"]
	path = 23_3_flask_survey
	url = https://github.com/papontem/23_3_flask_survey.git
[submodule "23_4_flask_survey_sessions"]
	path = 23_4_flask_survey_sessions
	url = https://github.com/papontem/23_4_flask_survey_sessions.git
[submodule "23_5_flask_boggle"]
	path = 23_5_flask_boggle
	url = https://github.com/papontem/23_5_flask_boggle.git
[submodule "26_2_sql_querying_exercise"]
	path = 26_2_sql_querying_exercise
	url = https://github.com/papontem/26_2_sql_querying_exercise.git
[submodule "26_3_sql_joins_exercise"]
	path = 26_3_sql_joins_exercise
	url = https://github.com/papontem/26_3_sql_joins_exercise.git
[submodule "26_4_sql_ddl_design_exercise"]
	path = 26_4_sql_ddl_design_exercise
	url = https://github.com/papontem/26_4_sql_ddl_design_exercise.git
[submodule "27_1_Flask_SQLAlchemy_Blogly_Exercise_Part_One"]
	path = 27_1_Flask_SQLAlchemy_Blogly_Exercise_Part_One
	url = https://github.com/papontem/27_1_Flask_SQLAlchemy_Blogly_Exercise_Part_One.git
[submodule "27_2_Flask_SQLAlchemy_Blogly_Exercise_Part_Two"]
	path = 27_2_Flask_SQLAlchemy_Blogly_Exercise_Part_Two
	url = https://github.com/papontem/27_2_Flask_SQLAlchemy_Blogly_Exercise_Part_Two.git
[submodule "27_3_Flask_SQLAlchemy_Blogly_Exercise_Part_Three"]
	path = 27_3_Flask_SQLAlchemy_Blogly_Exercise_Part_Three
	url = https://github.com/papontem/27_3_Flask_SQLAlchemy_Blogly_Exercise_Part_Three.git
[submodule "28_1_Adoption_Agency_Exercise"]
	path = 28_1_Adoption_Agency_Exercise
	url = https://github.com/papontem/28_1_Adoption_Agency_Exercise.git
[submodule "28_3_Flask_Cupcakes_Exercise"]
	path = 28_3_Flask_Cupcakes_Exercise
	url = https://github.com/papontem/28_3_Flask_Cupcakes_Exercise.git
[submodule "28_4_Authen_and_Author_Flask_Feedback_Exercise"]
	path = 28_4_Authen_and_Author_Flask_Feedback_Exercise
	url = https://github.com/papontem/28_4_Authen_and_Author_Flask_Feedback_Exercise.git
[submodule "33_1_Spoon-Knife"]
	path = 33_1_Spoon-Knife
	url = https://github.com/papontem/33_1_Spoon-Knife.git
[submodule "33_2_JS_Async_Code_Promises_Exercise"]
	path = 33_2_JS_Async_Code_Promises_Exercise
	url = https://github.com/papontem/33_2_JS_Async_Code_Promises_Exercise.git
[submodule "33_3_JS_Async_Code_Await_Exercise"]
	path = 33_3_JS_Async_Code_Await_Exercise
	url = https://github.com/papontem/33_3_JS_Async_Code_Await_Exercise.git
[submodule "33_4_Node_Files_Exercise"]
	path = 33_4_Node_Files_Exercise
	url = https://github.com/papontem/33_4_Node_Files_Exercise.git
[submodule "33_5_Markov_Text_Machine"]
	path = 33_5_Markov_Text_Machine
	url = https://github.com/papontem/33_5_Markov_Text_Machine.git
[submodule "34_1_Express_Routing_Calculator_Exercise"]
	path = 34_1_Express_Routing_Calculator_Exercise
	url = https://github.com/papontem/34_1_Express_Routing_Calculator_Exercise.git
[submodule "34_2_Express_Shopping_List_Exercise"]
	path = 34_2_Express_Shopping_List_Exercise
	url = https://github.com/papontem/34_2_Express_Shopping_List_Exercise.git
[submodule "37_2_Node_PG_BizTime_Exercise_Further_Study"]
	path = 37_2_Node_PG_BizTime_Exercise_Further_Study
	url = https://github.com/papontem/37_2_Node_PG_BizTime_Exercise_Further_Study.git
[submodule "37_3_Lunchly_Reservs_Sys_App_Exercise"]
	path = 37_3_Lunchly_Reservs_Sys_App_Exercise
	url = https://github.com/papontem/37_3_Lunchly_Reservs_Sys_App_Exercise.git
[submodule "38_1_Messagely_Hash_JWTs_Exercise"]
	path = 38_1_Messagely_Hash_JWTs_Exercise
	url = https://github.com/papontem/38_1_Messagely_Hash_JWTs_Exercise.git
[submodule "38_2_Bookstore_API_Validation_Exercise"]
	path = 38_2_Bookstore_API_Validation_Exercise
	url = https://github.com/papontem/38_2_Bookstore_API_Validation_Exercise.git
[submodule "41_2_JSX_exercise"]
	path = 41_2_JSX_exercise
	url = https://github.com/papontem/41_2_JSX_exercise.git
[submodule "41_3_React_ES2015_Module_Exercise"]
	path = 41_3_React_ES2015_Module_Exercise
	url = https://github.com/papontem/41_3_React_ES2015_Module_Exercise.git
[submodule "41_3_React_Props_Pokedex"]
	path = 41_3_React_Props_Pokedex
	url = https://github.com/papontem/41_3_React_Props_Pokedex.git
[submodule "41_4_React_State_8_Ball_Exercise"]
	path = 41_4_React_State_8_Ball_Exercise
	url = https://github.com/papontem/41_4_React_State_8_Ball_Exercise.git
[submodule "41_5_React_Testing_Exercises"]
	path = 41_5_React_Testing_Exercises
	url = https://github.com/papontem/41_5_React_Testing_Exercises.git
[submodule "41_7_React_Lights_Out"]
	path = 41_7_React_Lights_Out
	url = https://github.com/papontem/41_7_React_Lights_Out.git
[submodule "41_8_React_Forms_exercises"]
	path = 41_8_React_Forms_exercises
	url = https://github.com/papontem/41_8_React_Forms_exercises.git
[submodule "41_9_React_Effect_Refs_Deck_Of_Cards_Exercise"]
	path = 41_9_React_Effect_Refs_Deck_Of_Cards_Exercise
	url = https://github.com/papontem/41_9_React_Effect_Refs_Deck_Of_Cards_Exercise.git
[submodule "41_10_React_Custom_Hooks_Cards_Exercise"]
	path = 41_10_React_Custom_Hooks_Cards_Exercise
	url = https://github.com/papontem/41_10_React_Custom_Hooks_Cards_Exercise.git
[submodule "52_Public_Capstone"]
	path = 52_Public_Capstone
	url = https://github.com/papontem/52_Public_Capstone.git
[submodule "43_1_React_Router_Vending_Machine"]
	path = 43_1_React_Router_Vending_Machine
	url = https://github.com/papontem/43_1_React_Router_Vending_Machine.git
[submodule "43_2_React_Router_Patterns"]
	path = 43_2_React_Router_Patterns
	url = https://github.com/papontem/43_2_React_Router_Patterns.git
[submodule "43_3_React_History_CheeZJokes_App_Classes_Exercise"]
	path = 43_3_React_History_CheeZJokes_App_Classes_Exercise
	url = https://github.com/papontem/43_3_React_History_CheeZJokes_App_Classes_Exercise.git
[submodule "49_2_BIG_O"]
	path = 49_2_BIG_O
	url = https://github.com/papontem/49_2_BIG_O.git
[submodule "49_3_Divide_N_Conquer"]
	path = 49_3_Divide_N_Conquer
	url = https://github.com/papontem/49_3_Divide_N_Conquer.git
