@media (min-width: 481px) {
	/* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
}
@media (min-width: 641px) {
	/* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
}
@media (min-width: 961px) {
	/* tablet, landscape iPad, lo-res laptops ands desktops */
}
@media (min-width: 1025px) {
	/* big landscape tablets, laptops, and desktops */
}
@media (min-width: 1281px) {
	/* hi-res laptops and desktops */
}

:root {
	--my-bk-color1: white;
	--my-bk-color1-5: rgba(255, 255, 255,0.90);
	--my-bk-color2: rgba(240, 235, 212, 0.75);
	--my-bk-color3: rgb(220, 165, 49);
	--my-bk-color4: rgb(180, 100, 45);
	--my-bk-color5: rgb(80, 30, 12);
	--my-bk-color6: rgb(40, 15, 6);
	--my-bk-color7: rgb(20, 5, 3);
	--my-bk-color8: rgb(255, 215, 0);
	--my-bk-color9: rgb(139, 0, 0);
	--my-bk-color10: rgb(0, 0, 0);

	font-family: "BIZ UDPGothic", sans-serif, "Smokum", cursive;
}
body {
	background-image: url(imgs/PAM_C_v2_wallpaper_480.png);
	/*  */
	background-color: var(--my-bk-color2);
}
header {
	/*  */
	background-color: var(--my-bk-color3);
    text-align: center;
	text-underline-offset: 10px;
}
body ol {
    background-color: var(--my-bk-color2);
}
/* style for lists */
ul li {
	list-style-image: url(imgs/pam_favicon_animated.gif);
	font-weight: bold;
	font-style: italic;
}
blockquote {
	color: var(--my-bk-color10);
	font-weight: bold;
	font-size: 1.5em;
}
/* Style for my footer */
section.Footer_Content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: var(--my-bk-color1);
	background-color: var(--my-bk-color10);
	font-family: "BIZ UDPGothic", sans-serif, "Smokum", cursive;
	border: 2px solid var(--my-bk-color10);
	margin: 10px;
	padding-left: 10px;
}
